
  <div class="container">
    <div class="pet_canva">
      <app-pet-canva
      (onArtistSet)="sendInput($event)"
      [target_song]="this.target_song"
      [guess]="this.guess_map"
      (onStateChange)="onMessageStateChange($event)">
  
      </app-pet-canva>
    </div>
    <div class="details">
      <app-music-details
      (onTrackSelect)="playSong($event)"
      (onArtistSelect)="setArtist($event)"
      (onVolumeChange)="changeVolume($event)"
      [musicPlaying]="isPlaying"
      [isGameStarted]="isGameStarted"
      [artist_input]="this.artist_input"
      [message_state]="this.message_state">
    </app-music-details>
    </div>
  </div>